#add-button {
    margin-right: .75rem
}

#spelronde-selection {
    margin-right: .75rem
}

.btn {
    width: 2.6rem
}

.table.align-middle > thead > tr > th {
    vertical-align: middle;
}

.table.align-middle > thead > tr > td {
    vertical-align: middle;
}

.table.align-middle > tbody > tr > th {
    vertical-align: middle;
}

.table.align-middle > tbody > tr > td {
    vertical-align: middle;
}

.custom-invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
